.head {
    width: 100%;
    height: 50px;
    background: #242b2e;
}
.main_nav {
    display: flex;
    height: 50px;
    align-items: center;
}
.main_ul {
    display: flex;
    margin: 0;
}
.logo {
    font-size: 25px;
    font-weight: bold;
    font-family: monospace;
    height: 50px;
    display: flex;
    margin-left: 20px;
    letter-spacing: 1px;
    line-height: 0;
    color: #ffffff;
}
.main_ul li > a{
    color: #fff;
    font-family: monospace;
    font-size: 20px;
    text-decoration: none;
}
.main_ul li {
    justify-content: center;
    width: 80px;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 10px;
    list-style: none;
    transition: all 0.2s;
    cursor: pointer;
}
.main_ul li:hover {
    background: #ffffff;
}
.main_ul li:hover > a {
    color: #242b2e;
}